.App {
  padding: 45px 0;
  width: 85%;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  /* justify-content: space-between; */
  /* justify-content: space-between; */


}

#twitter {
  width: 100%;
  text-align: center;
}

.img-container {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  flex: 0.5;

  position: relative;
  text-align: center;
}

#profile__img {
  opacity: 1;
  transition: 0.5s ease;
}

.overlay {
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  background: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75));
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay img {
  width: 20px;
  margin-bottom: 11px;
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-container:focus {
  outline: 5.5px solid #EBE9FE;
}

#profile__img{
  height: 100%;
}

.profile p {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.circle {
  width: 40px;
  height: 40px;

  position: absolute;
  right: 5%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px dashed #D0D5DD;
}

.desktop {
  display: none;
}

p.share__text {
  position: absolute;
  background: #101828;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px 10px;
  right: 120%;
  width: 85px;
  border-radius: 8px;
  display: none;
}

.share__text::after {
  content: '';
  position: absolute;
  top: 40%;
  right: -8%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #101828;
  clear: both;
  rotate: 270deg;
}

.circle:hover p.share__text {
  display: block;
}

p.share__text:hover {
  display: block;
}

.circle img {
  width: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  display: grid;
  width: 100%;
  height: 68px;
  background: #EAECF0;
  margin: auto;
  place-items: center;
  text-decoration: none;
  color: #101828;
  font-weight: 500;
  border-radius: 8px;
}

.link:hover {
  background: #D0D5DD;
}

.link:focus {
  background: #EAECF0;
  border: 1px solid #98A2B3;
}

.link:disabled {
  background: #FCFCFD;
  border: 1px solid #F2F4F7;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 48px;
}

footer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px 0;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  border-top: 1px solid #EAECF0;
}

@media (min-width:768px) {
  #mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .profile {
    margin-bottom: 56px;
  }

  .circle {
    right: 20%;
    cursor: pointer;
  }

  .circle:hover {
    background: #F9FAFB;
  }

  footer {
    
    flex-direction: row;
    justify-content: space-between;
  }

  footer p {
    font-weight: 400;
    color: #667085;
    font-size: 16px;
    align-self: flex-end;
  }
}